.container {
  max-width: 960px;
  margin: 0 auto;
}
.header {
  margin-top: 2em;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header .blog-title .logo {
  color: #aaa;
  font-size: 2em;
  font-family: 'Pacifico', cursive, LiSu, sans-serif;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-right: 10px;
}
.header .menu .menu-item-link {
  color: #aaa;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  color: #368ccb;
}
.post {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-content a {
  color: #368ccb;
  text-decoration: none;
}
.posts .post-meta {
  color: #bababa;
}
.archive {
  margin: 1em auto;
  padding: 30px 50px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 2px #ddd;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #bababa;
}
.archive .post-archive .post-item .post-title {
  color: #368ccb;
  text-decoration: none;
}
.pager {
  margin: 20px 0 0 !important;
  padding: 0 !important;
}
.pager li > a,
.pager li > span {
/* Hux learn from
     *     TypeIsBeautiful,
     *     [This Post](http://zhuanlan.zhihu.com/ibuick/20186806) etc.
     */
  font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "STHeiti", "Microsoft YaHei", "Microsoft JhengHei", "Source Han Sans SC", "Noto Sans CJK SC", "Source Han Sans CN", "Noto Sans SC", "Source Han Sans TC", "Noto Sans CJK TC", "WenQuanYi Micro Hei", SimSun, sans-serif;
  line-height: 1.7;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 800;
  letter-spacing: 1px;
  padding: 10px;
  background-color: #fff;
  border-radius: 0;
}
@media only screen and (min-width: 768px) {
  .pager li > a,
  .pager li > span {
    font-size: 14px;
    padding: 15px 25px;
  }
}
.pager li > a {
  color: #404040;
}
.pager li > a:hover,
.pager li > a:focus {
  color: #fff;
  background-color: #0085a1;
  border: 1px solid #0085a1;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #808080;
  background-color: #404040;
  cursor: not-allowed;
}
.pager-position {
  margin: 5% 5% 2% 5%;
  width: 60%;
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .clean-main-menu.minified {
    background-color: #28292e;
    padding: 20px 0 0;
    position: fixed;
  }
  .navbar-header {
    float: none;
    text-align: center;
  }
  .navbar-brand {
    float: none;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
  }
  .navbar-collapse {
    text-align: center;
  }
  .clean-main-menu .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar-nav > li {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }
  .clean-team-slides .clean-member-img-wrapper {
    width: 35%;
    margin-right: 5%;
  }
  .clean-member-details {
    display: inline-block;
    float: left;
    width: 60%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .clean-main-menu.minified {
    padding: 20px 0 0;
    position: fixed;
  }
  .navbar-header {
    float: none;
    text-align: center;
  }
  .navbar-brand {
    float: none;
    font-size: 18px;
    line-height: 20px;
    padding: 15px;
  }
  .navbar-collapse {
    text-align: center;
  }
  .clean-main-menu .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar-nav > li {
    display: inline-block;
    float: none;
    margin-bottom: 5px;
  }
  .clean-icones .clean-icon {
    height: 50px;
    width: 50px;
    margin-right: 20px;
  }
  .clean-icones .clean-blurb-text {
    float: left;
    width: 140px;
  }
  .clean-icones .clean-icon i {
    font-size: 24px;
    line-height: 50px;
  }
  .clean-team-slides .clean-member-img-wrapper {
    width: 35%;
    margin-right: 5%;
  }
  .clean-member-details {
    display: inline-block;
    float: left;
    width: 60%;
  }
  .clean-portfolio-items .clean-portfolio-item {
    height: 280px;
    overflow: hidden;
    position: relative;
    width: 33.33331%;
  }
}
@media only screen and (max-width: 767px) {
  .clean-section-header {
    margin-bottom: 60px;
    text-align: center;
  }
  .navbar-toggle {
    border: 1px solid #fff;
    background-color: #818181;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar-toggle .icon-bar {
    border-radius: 1px;
    display: block;
    height: 2px;
    width: 22px;
    background-color: #fff;
  }
  .navbar-collapse {
    border-top: 0px solid transparent;
    box-shadow: 0 0px 0 rgba(255,255,255,0) inset;
    max-height: auto;
  }
  .clean-main-menu .navbar-nav {
    float: none;
    padding: 10px 0;
  }
  .clean-main-menu .navbar-nav li {
    margin-bottom: 10px;
  }
  .clean-main-menu .navbar-nav li:last-child {
    margin-bottom: 0;
  }
  .clean-blurb-icon-only {
    margin-bottom: 50px;
  }
  .clean-blurb-icon-only:last-child {
    margin-bottom: 0;
  }
  .clean-icones .clean-blurb-text {
    float: left;
    width: 61%;
  }
  .clean-blurb-round-icon {
    margin-bottom: 50px;
  }
  .clean-blurb-round-icon:last-child {
    margin-bottom: 0;
  }
  .clean-process-item {
    text-align: center;
    margin-bottom: 50px;
  }
  .clean-process-item:last-child {
    margin-bottom: 0;
  }
  .clean-cta-1 h2 {
    text-align: center;
    margin-bottom: 30px;
  }
  .clean-cta-1 p {
    text-align: center;
    margin-bottom: 20px;
  }
  .clean-cta-1 .clean-cta-btn {
    text-align: center;
  }
  .clean-cta-1 .clean-cta-btn a {
    float: none;
  }
  .clean-main-slides h1.clean-slider-text-big {
    color: #fff;
    font-size: 24px;
    margin-bottom: 25px;
    margin-top: 0;
    text-transform: uppercase;
    white-space: normal !important;
    text-align: center;
    width: 100% !important;
  }
  .clean-main-slides p {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px !important;
    font-weight: 400;
    margin-bottom: 0;
    white-space: normal !important;
    text-align: center;
    margin-top: 20px;
    width: 100% !important;
  }
  .clean-team-slides .clean-member-img-wrapper {
    float: none;
    height: auto;
    width: 100%;
  }
  .clean-member-details {
    float: none;
    width: 100%;
    text-align: center;
  }
  .clean-member-details ul {
    display: inline-block;
  }
  .clean-counter-item {
    margin-bottom: 50px;
  }
  .clean-counter-item:last-child {
    margin-bottom: 0;
  }
  .clean-portfolio-items .clean-portfolio-item {
    height: 280px;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .clean-section-wrapper .clean-custom-sec-img {
    margin-bottom: 20px;
  }
  .clean-contact-section .clean-contact-address {
    margin-bottom: 50px;
  }
}
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .clean-portfolio-items .clean-portfolio-item {
    width: 50%;
  }
}
.background-three {
  background-color: #33302d;
}
span.clean-color-contras {
  color: #33302d;
}
.clean-button-solid {
  background-color: #33302d;
}
.clean-button-solid:hover {
  opacity: 0.7;
}
.clean-button-outline-light:hover {
  background-color: #33302d;
}
.clean-button-outline-dark:hover {
  background-color: #33302d;
}
.clean-btn-round {
  background-color: #33302d;
}
.clean-btn-round:hover {
  opacity: 0.7;
}
.clean-blurb-icon-only i {
  color: #33302d;
}
.clean-blurb-icon-only h3 {
  color: #33302d;
}
.clean-blurb-round-icon:hover .clean-icon {
  background-color: #33302d;
}
.clean-icones .clean-icon i {
  color: #dadada;
}
.clean-blurb-round-icon:hover h3 {
  color: #33302d;
}
.clean-icones:hover .clean-blurb-text h3 {
  color: #33302d;
}
.clean-icones:hover .clean-blurb-text h3:after {
  background-color: #33302d;
}
.clean-icones .clean-blurb-text h3:after {
  background-color: #33302d;
}
.clean-icones .clean-icon:hover {
  background-color: #33302d;
  border: none;
  color: #fff;
}
.clean-icones .clean-icon:hover i {
  background-color: #33302d;
  border: none;
  color: #fff;
}
.clean-main-menu .navbar-nav li a:hover,
.clean-main-menu .navbar-nav li.active a {
  color: #33302d;
}
.clean-slider .sp-selected-button {
  background-color: #33302d;
}
.clean-member-details h3 {
  color: #33302d;
}
.clean-line {
  background-color: #33302d;
}
.clean-counter-item h3:after {
  background-color: #fff;
}
.clean-port-work-details .clean-port-work-desc p a:hover {
  color: #33302d;
}
.clean-port-work-details .clean-port-work-desc h3 {
  color: #33302d;
}
.clean-recommended-pricing {
  border: 6px solid #33302d;
}
.recommended-titles {
  background-color: #33302d;
}
.clean-icones {
  overflow: hidden;
  padding: 20px;
  border-bottom: 1px dotted #33302d;
}
.clean-icones-center {
  border-left: 1px dotted #33302d;
  border-right: 1px dotted #33302d;
}
.clean-portfolio-work-item .clean-work-meta li {
  background-color: #33302d;
}
.clean-portfolio-filter-btn-group ul li a.selected {
  color: #33302d;
}
.clean-portfolio-filter-btn-group ul li a {
  border-right: 1px dotted #33302d;
}
.clean-pricing-plans .clean-pricing-titles h2 {
  color: #33302d;
}
.clean-pricing-plans {
  border: 5px solid transparent;
}
.clean-pricing-plans:hover {
  border-color: #33302d;
}
.clean-pricing-plans .clean-pricing-titles p span {
  color: #33302d;
}
.clean-pricing-plans a.clean-signup-btn {
  background-color: #33302d;
}
.clean-pricing-plans a.clean-signup-btn:hover {
  opacity: 0.7;
}
.clean-contact-section .clean-contact-address ul li {
  background-color: #33302d;
}
.clean-contact-section .clean-contact-form input[type='submit'] {
  background-color: #33302d;
}
.clean-contact-section .clean-contact-form input[type='submit']:hover {
  opacity: 0.7;
}
.clean-find-us-btn h3 {
  color: #33302d;
}
.clean-portfolio-information .clean-share-project ul li a:hover i {
  color: #33302d;
}
.owl-theme .owl-controls .owl-page span {
  background-color: #33302d !important;
}
footer ul li a:hover i {
  color: #33302d;
}
